- content_for :page_title do
  = t('authentication.title')

#section_header
  %h2
    = t('authentication.title')
%br
%br
.span-13.prepend-5.last
  .span-6.append-1
    %h3
      = t('authentication.dev_handle')
    %p
      %b= @dev_handle
  .span-6.last
    %h3
      = t('authentication.dev_email')
    %p
      %b= @dev_email
  %br
  %br
  %hr
  %h3 
    = t('authentication.app.app_details')
  %p
    %h6= t('app.app_name')
    %b= @app_name
    %br
  %p
    %h6= t('app.app_description')
    %b= @app_description
    %br
  %p
    %h6= t('app.app_version')
    %b= @app_version
    %br
  %h3 
    = t('authentication.app.permission')
  %br
    
  = form_for 'scopes' , :url => {:action => 'update'}, :html => { :method => :put } do |f|
    = f.error_messages
    
    %h4
      = t('profile._profle')
    %br
    
    %p.checkbox_select
      = f.label :profile_read,t('profile.read')
      = f.check_box :profile_read
    %br
    %p.checkbox_select
      = f.label :profile_write,t('profile.write')
      = f.check_box :profile_write
    %br
    %p.checkbox_select
      = f.label :profile_delete,t('profile.delete')
      = f.check_box :profile_delete
    %br
    %br
    %h4
      = t('post._post')
    %br
    %p.checkbox_select
      = f.label :post_read,t('post.read')
      = f.check_box :post_read
    %br
    %p.checkbox_select
      = f.label :post_write,t('post.write')
      = f.check_box :post_write
    %br
    %p.checkbox_select
      = f.label :post_delete,t('post.delete')
      = f.check_box :post_delete
    %br
    %br
    %h4
      = t('comment._comment')
    %br
    %p.checkbox_select
      = f.label :comment_read,t('comment.read')
      = f.check_box :comment_read
    %br
    %p.checkbox_select
      = f.label :comment_write,t('comment.write')
      = f.check_box :comment_write
    %br
    %p.checkbox_select
      = f.label :comment_delete,t('comment.delete')
      = f.check_box :comment_delete
    %br    
    
    = f.submit t('authentication.submit_btn'), :class => 'button'
  %br
  %br
  %hr
  %br
