- content_for :page_title do
  = t('authentication.title')

#section_header
  %h2
    = t('authentication.title')
%br
%br
.span-13.prepend-5.last
  .span-6.append-1
    %h3
      = t('authentication.dev_handle')
    %p
      %b= link_to @dev_handle, local_or_remote_person_path(@dev)
  %br
  %br
  %hr
  %h3 
    = t('app.app_details')
  %p
    %h5= t('app.app_name')
    = @app_name
    %br
  %p
    %h5= t('app.app_discription')
    = @app_description
    %br
  %p
    %h5= t('app.app_version')
    = @app_version
    %br
  %h3 
    = t('authentication.app_permission')
  %br
    
  = form_for 'scopes' , :url => {:action => 'update'}, :html => { :method => :put } do |f|
    = f.error_messages
    
    = f.hidden_field :scopes_ar, :value => @scopes_ar
    = f.hidden_field :app_id, :value => @app_id
    %h4
      = t('profileDetails._profile')
    %br
    
    %p.checkbox_select
      = f.label :profile_read,t('profileDetails.read')
      -if @scopes_ar.include? 'profile_read' 
        =check_box_tag :profile_read, "1", true, :disabled => true
      -else
        = f.check_box :profile_read
    %br
    %p.checkbox_select
      = f.label :profile_write,t('profileDetails.write')
      -if @scopes_ar.include? 'profile_write' 
        =check_box_tag :profile_write, "1", true, :disabled => true
      -else
        = f.check_box :profile_write
    %br
    %p.checkbox_select
      = f.label :profile_delete,t('profileDetails.delete')
      -if @scopes_ar.include? 'profile_delete' 
        =check_box_tag :profile_delete, "1", true, :disabled => true
      -else
        = f.check_box :profile_delete
    %br
    %br
    %h4
      = t('post._post')
    %br
    %p.checkbox_select
      = f.label :post_read,t('post.read')
      -if @scopes_ar.include? 'post_read' 
        =check_box_tag :post_read, "1", true, :disabled => true
      -else
        = f.check_box :post_read
    %br
    %p.checkbox_select
      = f.label :post_write,t('post.write')
      -if @scopes_ar.include? 'post_write' 
        =check_box_tag :post_write, "1", true, :disabled => true
      -else
        = f.check_box :post_write
    %br
    %p.checkbox_select
      = f.label :post_delete,t('post.delete')
      -if @scopes_ar.include? 'post_delete' 
        =check_box_tag :post_delete, "1", true, :disabled => true
      -else
        = f.check_box :post_delete
    %br
    %br
    %h4
      = t('comment._comment')
    %br
    %p.checkbox_select
      = f.label :comment_read,t('comment.read')
      -if @scopes_ar.include? 'comment_read' 
        =check_box_tag :comment_read, "1", true, :disabled => true
      -else
        = f.check_box :comment_read
    %br
    %p.checkbox_select
      = f.label :comment_write,t('comment.write')
      -if @scopes_ar.include? 'comment_write' 
        =check_box_tag :comment_write, "1", true, :disabled => true
      -else
        = f.check_box :comment_write
    %br
    %p.checkbox_select
      = f.label :comment_delete,t('comment.delete')
      -if @scopes_ar.include? 'comment_delete' 
        =check_box_tag :comment_delete, "1", true, :disabled => true
      -else
        = f.check_box :comment_delete
    %br    
    
    = f.submit t('authentication.submit_btn'), :class => 'button'
  %br
  %br
  %hr
  %br
